version: '3.7'
services:
  materialized:
    image: materialize/materialized
    init: true
    command: -w2 --disable-telemetry
    ports:
      - 6875:6875
  mysql:
    image: debezium/example-mysql:1.4
    ports:
     - 3306:3306
    environment:
     - MYSQL_ROOT_PASSWORD=debezium
     - MYSQL_USER=mysqluser
     - MYSQL_PASSWORD=mysqlpw
  zookeeper:
    image: confluentinc/cp-zookeeper:5.5.3
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
  kafka:
    image: confluentinc/cp-enterprise-kafka:5.5.3
    depends_on: [zookeeper]
    environment:
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_BROKER_ID: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_JMX_PORT: 9991
    ports:
      - 9092:9092
  connect:
    image: debezium/connect:1.4
    environment:
      BOOTSTRAP_SERVERS: kafka:9092
      GROUP_ID: 1
      CONFIG_STORAGE_TOPIC: connect_configs
      OFFSET_STORAGE_TOPIC: connect_offsets
      KEY_CONVERTER: io.confluent.connect.avro.AvroConverter
      VALUE_CONVERTER: io.confluent.connect.avro.AvroConverter
      CONNECT_KEY_CONVERTER_SCHEMA_REGISTRY_URL: http://schema-registry:8081
      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: http://schema-registry:8081
    depends_on: [kafka]
    ports:
      - 8083:8083
  schema-registry:
    image: confluentinc/cp-schema-registry:5.5.3
    environment:
     - SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL=zookeeper:2181
     - SCHEMA_REGISTRY_HOST_NAME=schema-registry
     - SCHEMA_REGISTRY_LISTENERS=http://schema-registry:8081,http://localhost:8081
    depends_on: [zookeeper, kafka]
  metabase:
    image: materialize/metabase:v0.0.5
    depends_on: [materialized]
    ports:
      - 3030:3000
  graphql:
    build: graphql
    command: ["--connection", "postgresql://materialize@materialized:6875/materialize", "--schema", "public", "--read-cache", "/postgraphile.schema", "--enhance-graphiql", "--allow-explain", "--skip-plugins", "graphile-build:NodePlugin", "--append-plugins", "postgraphile-plugin-connection-filter"]

    depends_on: [materialized]
    ports:
      - 5000:5000
  connector:
    build: connector
  mzcli:
    image: materialize/cli
  loadgen:
    build: loadgen
    depends_on: [mysql]
